# Downloads & sstate-cache
/downloads

# conf for bbb
!/board/bbb/
/board/bbb/*
!/board/bbb/conf/

# conf rpi
!/board/rpi/*
/board/rpi/*
!/board/rpi/conf/

# conf rpi4
!/board/rpi4/
/board/rpi4/*
!/board/rpi4/conf/

# bbb pomelo minimal
/board/bbb_pomelo_minimal/*

# Yocto Files
bitbake-cookerdaemon.log

# Prerequisites
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
contrib/oe-stylize.py
contrib/pw-am.sh
contrib/tesseract-langs.sh
